.carousel-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.github-project-link {
  cursor: pointer;
}

.github-project-link:hover {
  color: #455ce9;
}

.spin-globe {
  fill: #455ce9;
  animation: spin-globe 1s infinite ease-in-out;
}

@keyframes spin-globe {
  100% {
    transform: rotateX(180deg);
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: fit-content;
  padding: 0 10px;
}
